div.container {
  max-width: none;
  width: 100%; }
  div.container .collapsible-header {
    justify-content: space-between; }
    div.container .collapsible-header > span {
      display: flex; }
    div.container .collapsible-header .info {
      display: inherit; }
  div.container .collapsible-body {
    margin-top: 0; }
  div.container #race .input-field.inline {
    margin: 0; }
  div.container #race .pitline {
    margin: 0.6rem 0;
    display: flex;
    justify-content: flex-end; }
    div.container #race .pitline > i {
      font-size: 31px; }
    div.container #race .pitline > span {
      font-size: 22px; }
  div.container #race .collapsible {
    margin-top: 0; }
    div.container #race .collapsible .collapsible-header {
      padding: 0.5rem; }
    div.container #race .collapsible .collapsible-body {
      padding: 0; }
      div.container #race .collapsible .collapsible-body tr.done {
        background-color: #ccc; }
      div.container #race .collapsible .collapsible-body tr.current {
        background-color: deepskyblue; }
      div.container #race .collapsible .collapsible-body th {
        padding: 0 5px; }
      div.container #race .collapsible .collapsible-body td {
        padding: 0 5px; }
        div.container #race .collapsible .collapsible-body td .input-field {
          margin: 0; }
          div.container #race .collapsible .collapsible-body td .input-field input[type=text] {
            margin-left: 2rem;
            margin-bottom: 0;
            height: inherit; }
          div.container #race .collapsible .collapsible-body td .input-field .prefix ~ input {
            width: calc(100% - 2rem); }
        div.container #race .collapsible .collapsible-body td .prefix {
          font-size: 1.6rem;
          top: 0; }
        div.container #race .collapsible .collapsible-body td .stage-name {
          margin-left: 2rem; }
      div.container #race .collapsible .collapsible-body .btn-floating.delete {
        margin: 0.2rem;
        margin-left: calc(100% - 2.6rem); }
  div.container .nobr {
    white-space: nowrap; }
  div.container .ggl-tooltip {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    font-family: Arial, Helvetica;
    font-size: 14px;
    padding: 8px; }
  div.container .ggl-tooltip span {
    font-weight: bold; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/material.woff2") format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }
