div.container {
  max-width: none;
  width: 100%;



  .collapsible-header {
    justify-content: space-between;

    > span {
      display: flex;
    }

    .info {
      display: inherit;
    }
  }

  .collapsible-body {
    margin-top: 0;
  }

  #teams {
    .collapsible {
      margin-top: 0;
    }
    .input-field {
      margin: 0;

      input[type=text] {
        margin-bottom: 0;
        height: inherit;
      }

      .prefix {
        font-size: 1.6rem;
        top: 0;
      }
    }
  }
}



@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/material.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}